<article class="status">
  <header>
    <h1 class="status__title"><span class="status__title--top">Ez::Status</span><span class="status__title--bottom"></span></h1>
    <img src="//pic.onlinewebfonts.com/svg/img_336817.png" alt="" class="status__icon">
  </header>

  <main class="status__profiles">
    <% Ez::Status.config.monitors.each do |monitor| %>
      <% result = monitor.new.check! %>

      <article class="status__profile">
        <span class="status__name"><%= monitor.name.demodulize %></span>
        <span class="status__value"><%= result ? 'OK' : 'FAILURE' %></span>
      </article>
    <% end %>
  </main>
  </div>
</article>
